Sphinx==1.2.2
beautifulsoup4==4.5.0
nose==1.3.1
pandas>=0.18
python-dateutil==2.2
pytz
requests==2.9.1
celery>=3.1
xlrd
lxml==3.6.1
html5lib
requests-cache
mock
requests-mock
nose_parameterized
libfaketime
certifi
