beautifulsoup4>=4.5.0
celery>=3.1
certifi
freezegun
html5lib
libfaketime
lxml>=3.6.4
mock
nose-timer
nose
pandas>=0.18,<0.21
parameterized
python-dateutil
pytz
requests-cache
requests-mock
requests
Sphinx
xlrd